@use "../utils" as u;

.toggle-panel button {
  background: transparent;
  color: u.$grey-500;
  border: 1px solid u.$grey-500;
  padding: u.rem(2) u.rem(4);
  border-radius: u.rem(8);
  &:hover {
    color: u.$blue-400;
    border: 1px solid u.$blue-400;
  }
  &:active {
    color: u.$blue-400;
    border: 1px solid u.$blue-400;
  }
}

.start-btn {
  background-color: u.$blue-600;
  color: u.$white;
  font-size: u.rem(16);
  font-weight: u.$font-semibold;
  border: none;
  padding: u.rem(10) u.rem(16);
  border-radius: u.rem(8);
  margin: u.rem(8);
}

.restart-btn {
  display: none;
  background-color: u.$grey-800;
  color: u.$white;
  font-size: u.rem(16);
  font-weight: u.$font-semibold;
  gap: u.rem(10);
  border: 1px solid u.$grey-500;
  padding: u.rem(10) u.rem(12);
  border-radius: u.rem(8);
  margin: u.rem(32) auto;
  span {
    width: u.rem(16);
    height: u.rem(16);
  }
}

.result-btn {
  display: flex;
  background-color: u.$white;
  color: u.$grey-900;
  font-size: u.rem(16);
  font-weight: u.$font-semibold;
  gap: u.rem(10);
  border: 1px solid u.$grey-500;
  padding: u.rem(8) u.rem(10);
  border-radius: u.rem(12);
  margin: u.rem(8) auto;
  span {
    display: inline-block;
    width: u.rem(16);
    height: u.rem(16);
  }
}

.again-icon {
  filter: invert(1);
}
