@use "../utils/" as u;

.result-page {
  display: none;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  padding: u.rem(16);
  gap: u.rem(24);
  align-items: center;
  border-radius: 12px;
  background-image:
    url("/assets/images/pattern-star-2.svg"),
    url("/assets/images/pattern-star-1.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    top 100px left 20px,
    bottom 100px right 40px;
  background-size: 20px, 40px;
}
.characters-display {
  display: flex !important;
  border: none !important;
  flex-direction: row !important;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: flex-start !important;
}
.result-cards {
  display: flex;
  div {
    display: flex;
    width: u.rem(130);
    flex-direction: column;
    gap: u.rem(4);
    align-items: flex-start;
    justify-content: center;
    margin: 0.5rem 1rem;
    border: 1px solid u.$grey-500;
    padding: u.rem(12);
    border-radius: u.rem(10);
    span {
      font-size: u.rem(22);
      font-weight: u.$font-semibold;
    }
  }
}

@media (max-width: 768px) {
  .result-page {
    width: 100%;
    padding: u.rem(12);
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: none;
  }
  .result-cards {
    display: block;
  }
}
