@use "../utils/" as u;

.result-page {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  margin-top: 2rem;
  padding: 1.5rem;
  gap: u.rem(24);
  align-items: center;
  background: u.$grey-900;
  border-radius: 12px;
}

.result-cards {
  display: flex;
  div {
    display: flex;
    width: u.rem(150);
    flex-direction: column;
    gap: u.rem(12);
    justify-content: flex-end;
    margin: 0.5rem 1rem;
    border: 1px solid u.$grey-500;
    padding: u.rem(24);
    span {
      font-size: u.rem(24);
    }
  }
}
