@use "../utils" as u;

main {
  max-width: u.rem(1000);
  width: 100%;
  background: u.$grey-900;
  text-align: center;
  backdrop-filter: blur(u.rem(2));
  border-radius: u.rem(48);
  padding: u.rem(32);
  box-shadow: 0 u.rem(25) u.rem(45) u.rem(-12) rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
}
.passage-container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: u.$white;
  font-weight: u.$font-semibold;
}
