@use "../utils/" as u;

header {
  display: flex;
  width: u.rem(1000);
  justify-content: space-between;
  align-items: center;
  margin-bottom: u.rem(20);
  flex-wrap: wrap;
  background: u.$grey-900;
  padding: u.rem(24) u.rem(32);
}
@media (max-width: 768px) {
  header {
    width: 100%;
    padding: u.rem(12);
  }
}
